*{
    margin: 0;
    padding: 0;
}

header{
    width: auto;
    height: 40px;
    padding: 15px;
}
nav{
    width: auto;
    height: 40px;
    /* background-color: rgb(145, 248, 248); */
    float: right;
    margin: 0 20px;
    line-height: 40px;
    padding: 3px;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:black;
    /* background-color: blueviolet; */
    margin: 0px 5px;
    padding: 0 30px;
}
main{
    width: 80%;
    margin: 20px auto;
    /* background-color: rgb(37, 243, 157); */
    box-shadow:  GRAY 2px 2px;
    border-radius: 5px;
    padding: 20PX;;
}
h2{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#secaoProdutos{
    width: 50%;
    height: 80px;
    /* background-color: aquamarine; */
     /* posicionamento padrao do flexbox: esquerda, topo e em coluna */
    display: flex;
    /* display: flex; "Muda a disponibilização para linha" */
    /* reverse - inverte a posição do elemento que se esta sendo editado em linha(row-reverse), em coluna(row-column) e row (linha) */
    flex-direction: row;
    /* justificar na posição - start(começo da linha), end(fim), center(centralizado), spacebetween(espacamento entre as divs), spacearound() */
    justify-content: space-between;
    /* alinhamento vertical */
    align-items: start;
    /* para não achatar as linhas verticais - nowrap(ainda comprimi verticalemtne), wrap(nao comprimi, vai jogando e ajustando os elementos. */
    flex-wrap: wrap;
}

.produto{
    width: 20px;
    height: 40px;
    /* background-color: blanchedalmond; */
    margin: 10px;
}
.acai{
    width: 5px;
}
.barbie{
    width: 5px;
}
.cafedositio{
    width: 5px;
}
.netflix{
    width: 5px;
}
.powerranger{
    width: 5px;
}
