*{
    margin: 0;
    padding: 0;
   
}

body {
    width: 700px;
    height: 700px;
    margin: 80px auto;
    padding: 5px;
    background-color: #1518d6 Fundo rosa;
}

header{
    width: 350px;
    height: 700px;
    margin: 0 auto; ;
    background-color: #1ed145; /* Fundo rosa */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    width: 490px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    list-style-type: none;
    
}

#produto{
   
    align-items: right;
    background-color: #f0f32a;
    list-style-type: none;
  
}

h1{
    font-size: 2em;
    color: #afadad; /* Vermelho */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: -90px;
}
h2 {
    font-size: 1.5em;
    color: #afadad; /* Vermelho */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    align-items: center;
 
}
body h2{
    text-align: center;
}

main{
    text-decoration: none;
}

tr{
    
    align-items: center;
    
}

